<div style="padding: 0 10px; margin-bottom: 25px">
    <div>
        <p>Thông báo</p>
        <p>
            Có đơn hàng mới ở tiệm bánh <strong>Odouceurs</strong>!
        </p>
        <p>
            Đơn hàng
            <span style="color: rgb(169, 0, 0)">#{{ orderId }}</span>
            hiện đang được chờ xác nhận.
        </p>
    </div>
    <hr />
    <div style="padding: 0 10px">
        <table style="width: 100%; border-collapse: collapse; margin-top: 20px">
            <thead>
                <tr>
                    <th style="
                            text-align: left;
                            width: 50%;
                            font-size: medium;
                            padding: 5px 0;
                        ">
                        Thông tin khách hàng đặt
                    </th>
                    <th style="
                            text-align: left;
                            width: 50%;
                            font-size: medium;
                            padding: 5px 0;
                        ">
                        Địa chỉ người nhận
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding-right: 15px">
                        <table style="width: 100%">
                            <tbody>
                                <tr>
                                    <td>{{ name }}</td>
                                </tr>
                                <tr>
                                    <td style="
                                            word-break: break-word;
                                            word-wrap: break-word;
                                        ">
                                        <a href="mailto:{{ mail }}"
                                            target="_blank">{{ mail }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{{ phone }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table style="width: 100%">
                            <tbody>
                                <tr>
                                    <td>{{ name }}</td>
                                </tr>

                                <tr>
                                    <td style="
                                            word-break: break-word;
                                            word-wrap: break-word;
                                        ">
                                        {{ address }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>{{ phone }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width: 100%; border-collapse: collapse; margin-top: 20px">
            <thead>
                <tr>
                    <th style="
                            text-align: left;
                            width: 50%;
                            font-size: medium;
                            padding: 5px 0;
                        ">
                        Phương thức thanh toán
                    </th>
                    <th style="
                            text-align: left;
                            width: 50%;
                            font-size: medium;
                            padding: 5px 0;
                        ">
                        Phương thức vận chuyển
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding-right: 15px">{{ payment }}</td>
                    <td>{{ delivery }}<br /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-top: 20px; padding: 0 10px">
        <div style="padding-top: 10px; font-size: medium">
            <strong>Thông tin đơn hàng</strong>
        </div>
        <table style="width: 100%; margin: 10px 0">
            <tbody>
                <tr>
                    <td style="width: 50%; padding-right: 15px">
                        Mã đơn hàng: #{{ orderId }}
                    </td>
                    <td style="width: 50%">Ngày đặt hàng: {{ createAt }}</td>
                </tr>
            </tbody>
        </table>
        <ul style="padding-left: 0; list-style-type: none; margin-bottom: 0">
            {{ products }}
            <li>
                <table style="
                        width: 100%;
                        border-bottom: 1px solid rgb(228, 233, 235);
                    ">
                    <tbody>
                        <tr>
                            <td style="width: 100%; padding: 25px 10px 0px 0" colspan="2">
                                <div style="
                                        float: left;
                                        width: 80px;
                                        height: 80px;
                                        border: 1px solid rgb(235, 239, 242);
                                        overflow: hidden;
                                    ">
                                    <img style="
                                            max-width: 100%;
                                            max-height: 100%;
                                        " src="cid:image_accessory" />
                                </div>
                                <div style="margin-left: 100px">
                                    <a href="test" style="
                                            color: rgb(169, 0, 0);
                                            text-decoration: none;
                                        " target="_blank" data-saferedirecturl="test">
                                        Phụ kiện</a>
                                    <p style="
                                            color: rgb(103, 130, 153);
                                            margin-bottom: 0px;
                                            margin-top: 8px;
                                        ">
                                        {{ accessoryName }}
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 70%; padding: 5px 0px 25px">
                                <div style="margin-left: 100px">
                                    {{ accessoryPrice }} VND
                                    <span style="margin-left: 20px">x 1</span>
                                </div>
                            </td>
                            <td style="
                                    text-align: right;
                                    width: 30%;
                                    padding: 5px 0px 25px;
                                ">
                                {{ accessoryPrice }} VND
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>


        </ul>
        <table style="
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 50px;
                margin-top: 10px;
            ">
            <tbody>
                <tr>
                    <td style="width: 20%"></td>
                    <td style="width: 80%">
                        <table style="width: 100%; float: right">
                            <tbody>
                                <tr>
                                    <td style="padding-bottom: 10px">
                                        Phụ kiện:
                                    </td>
                                    <td style="
                                            font-weight: bold;
                                            text-align: right;
                                            padding-bottom: 10px;
                                        ">
                                        {{ accessoryPrice }} VND
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 10px">
                                        Giá trừ khuyến mãi:
                                    </td>
                                    <td style="
                                            font-weight: bold;
                                            text-align: right;
                                            padding-bottom: 10px;
                                        ">
                                        {{ discount }} VND
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 10px">
                                        Phí vận chuyển*:
                                    </td>
                                    <td style="
                                            font-weight: bold;
                                            text-align: right;
                                            padding-bottom: 10px;
                                        ">
                                        0 VND
                                    </td>
                                </tr>
                                <tr style="
                                        border-top: 1px solid rgb(229, 233, 236);
                                    ">
                                    <td style="padding-top: 10px">
                                        Thành tiền
                                    </td>
                                    <td style="
                                            font-weight: bold;
                                            text-align: right;
                                            font-size: 16px;
                                            padding-top: 10px;
                                        ">
                                        {{ total }} VND
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="padding: 0 10px">
        <div style="clear: both"></div>
        <p style="text-align: right"><i>Trân trọng,</i></p>
        <p style="text-align: right">
            <strong>Hệ thống quản lý tự động tiệm bánh Odouceurs</strong>
        </p>
    </div>
</div>
