.bg-gradient-login {
background-image: url("../img/client/shop/product-26.webp");
background-size: cover;
  }
  .btn-login{
    background-color: #e26868b7;
    color: #fff;
    font-size: 80px;

    font-family: 'Dancing Script';

}
.btn-login:hover{
    color: #ffdb6d;
}
.btn-log{
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
}
.mys-5{
    margin-top: 15rem !important;
}
.cards{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff25;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 5rem;
}
.texts{
    color: #ffffff !important;
    font-family: 'Dancing Script';
    font: 30px;
}
.forms-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 15px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #ffffff77;
    background-clip: padding-box;
    border: 2px  #d1d3e2;
    border-radius: 1rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 50px;
}
.carousel-control-prev,
.carousel-control-next {
    opacity: 0.5;
}